# build files
build

# cache files
.cache

# compile commands for clangd
compile_commands.json

# data
*.coo
*.csr
*.csc
*.ell
*.bsr
*.in
*.out
*.except

# res
*.res

local_test

# python
__pycache__

id_ed25519
.ipynb_checkpoints/
